@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     font-family: "Hind Siliguri", serif; */
    font-family: "Poppins", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.125);
}

.ar-headerContainer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.ar-headerLogo a {
    display: flex;
    justify-content: start;
}
.ar-headerLogo a img{
    width: 300px;
}

/* ===input style=== */
.ar-Search {
    display: flex;
    align-items: center;


}

.ar-Search i {
    color: #aba8a8;
}

.ar-search-icon a i {
    margin-left: -30px;
}

.ar-Search input {
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(176, 169, 169);
    font-size: 14px;
    border-radius: 5px;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.125);
    }

    .ar-headerContainer {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 0 2px 0;
    }

    .ar-headerLogo a {
        height: 50px;
    }

    .ar-Search {
        width: 250px;
    }
}

/* === input style end === */

/* === contact style === */
.ar-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.contactPhone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ar-contactIcon i {
    font-size: 20px;
    color: #0D97BC;

}

.ar-contact-container p {
    color: #524747;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
}

.ar-contact-container span {
    color: #0D97BC;
    font-size: 17px;
    font-weight: 500;
}

.ar-cart i {
    font-size: 26px;
    margin-left: 10px;
    color: #0D97BC;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    .ar-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0;
    }

    .ar-contactIcon i {
        display: none;
        color: #0D97BC;
    }

    .ar-contact-container {
        text-align: end;
    }

    .ar-contact-container p {
        font-size: 15px;
        display: none;
    }

    .ar-contact-container span {
        font-size: 15px;
        display: none;
    }

    .ar-cart i {
        font-size: 16px;
    }

    .sh-add-slider-container a img {
        width: 100%;
    }
}

/* ===contact style end === */
.sh-add-slider-container img {
    width: 100%;
}



/* === SH PRODUCTS SLIDE MENU === */
.sh-products-menu-page-slider-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
}

.sh-products-menu-page-slider-container {
    width: 85%;
    height: 100px;
    display: flex;
    align-items: center;
}

.item {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.item:hover, .item a:hover{
    background: #0D97BC;
    color: white;
}

.item a {
    color: black;
    font-size: 16px;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    .sh-products-menu-page-slider-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sh-products-menu-page-slider-container {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .item {
        width: 150px;

    }

    .item a {
        font-size: 13px;
    }
}

/* === SH ALL PRODUCTS AND SEE MORE === */
.sh-all-productAndSee-text-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
}

.sh-all-productAndSee-text-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sh-all-productAndSee-text-container h3 {
    font-size: 30px;
}

.sh-all-productAndSee-text-container a {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #0D97BC;
    border-radius: 5px;
    color: #0D97BC;
    transition: ease-in-out 0.3s;
}
.sh-all-productAndSee-text-container a:hover{
    background: #0D97BC;
    color: white;
}
/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    .sh-all-productAndSee-text-section {
        width: 100%;
    }

    .sh-all-productAndSee-text-container {
        width: 95%;
        margin-top: 0;
    }
}

/* === SH DAIMOND PRODUCTS === */
.sh-daimond-section {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    background: #F5F6F7;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* === SH DAIMOND PRODUCT CONTAINER === */
.sh-daimond-product-container {
    width: 85%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.sh-daimond-product img{
    width: 100%;
    height: 100%;
}

/* === REPONSIVE FOR MOBILE === */
@media(max-width: 768px) {
    .sh-daimond-product-container {
        width: 95%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }
}

/* === SH DAIMOND CONTAINER === */
.sh-daimond-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 380px;
    min-height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px rgb(0, 0, 0, 0.1);
}

/* === SH DAIMOND PRODUCT IMAGE === */
.sh-daimond-product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* === SH PRODUCT DISCOUNT PRICE === */
.sh-product-discount-price {
    width: 60px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background: #21CED6;
    margin: 10px;
}

/* === SH PRODUCTS DETAILS === */
.sh-product-details {
    height: 120px;
    padding: 8px;
}

/* === SH PRODUCT NAME === */
.sh-product-name a h4 {
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 1.5em;
    height: 60px;
}

@media(max-width: 768px) {
    .sh-product-name a h4 {
        font-size: 14px;
    }

    .sh-product-details {
        height: 100px;
    }
}

/* === SH PRODUCTS PRICES === */
.sh-products-prices {
    display: flex;
    height: 30px;
    margin-top: 8px;
    gap: 10px;
}

/* === SH LESS PRICE === */
.sh-less-price p {
    font-size: 15px;
    color: black;
}

/* === SH REGULAR PRICE === */
.sh-regular-price p {
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}

@media(max-width: 768px) {
    .sh-less-price p {
        font-size: 14px;
    }

    .sh-regular-price p {
        font-size: 14px;
    }
}

/* === SH ORDER NOW BUTTON === */
.sh-order-korun-button {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.sh-order-korun-button button {
    width: 100%;
    cursor: pointer;
}

.sh-btn-style {
    padding: 4px 10px;
    border: none;
}

.sh-btn-cartbg {
    border-radius: 0 0 0 10px;
    transition: all 0.3s ease-in-out;
    background: #0D97BC;
}

.sh-btn-cartbg:hover {
    background: #0AA5C9;
}

.sh-btn-orderbg {
    border-radius: 0 0 10px 0;
    transition: all 0.3s ease-in-out;
    background: #0C7BC6;
}

.sh-btn-orderbg:hover {
    background: #056EA8;
}

.sh-order-korun-button a {
    color: white;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
}

/* .sh-addcart::before{
    content: "";
    position: absolute;
    visibility: hidden;
    background: #34495e;
    margin-top: -40px;
    margin-left: -55px;
    padding: 6px 12px;
    border-radius: 3px;
    color: white;
    transition: visibility 0.3s ease, opacity 0.3s ease;
} */
/* .sh-addcart::before{
    content: "";
    position: absolute;
    visibility: hidden;
    background: #34495e;
    margin-top: -40px;
    margin-left: -55px;
    padding: 6px 12px;
    border-radius: 3px;
    color: white;
    transition: all 0.5s ease-in-out;
} */
/*  .sh-addcart{
    transition: all 0.5s ease-in-out;
 } */
.sh-btn-cartbg:hover::before {
    position: absolute;
    content: "Add to Cart";
    background-color: #21CED6;
    visibility: visible;
    color: white;
    padding: 6px 12px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 3px;
    opacity: 1;
}

/* === footer === */

.footer {
    width: 85%;
}

.footer-container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-bottom: 5px;
}

.footer-logo h1 {
    font-family: "Urbanist", serif;
    font-size: 40px;
}

.footer-bg {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-items: center;
    background-color: rgb(214, 214, 214);
}

/* === MOBILE RESPONSIVE === */
/* === FOOTER === */
@media (max-width: 768px) {
    .footer {
        display: grid;
        width: 430px;
        padding-left: 20px;
    }

    .footer-container {
        display: grid;
    }

    .footer-section p,
    .footer-section a {
        font-size: 14px;
        line-height: 20px;
        color: black;
    }

    .footer-section h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .sh-order-korun-button a {
        font-size: 0.875em;
    }

    .sh-btn-cartbg:hover::before {
        position: absolute;
        content: "Add to Cart";
        background-color: #34495e;
        visibility: visible;
        color: white;
        font-size: 0.875em;
        padding: 6px;
        margin-top: -47px;
        margin-left: -32px;
        border-radius: 3px;
        opacity: 1;
    }

}

.sm-email-section {
    display: flex;
    margin-top: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sm-email-section input {
    background-color: white;
    width: 318px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-email-section button {
    width: 100px;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .footer-bottom {
        display: none;
    }

}

@media(max-width: 768px) {
    .sm-hide-for-mobile {
        display: none;
    }
}

@media(max-width: 768px) {
    .footer-bg {
        height: 100%;
        padding-top: 50px;
        margin-top: 60px;
    }
}