@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-family: "Hind Siliguri", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: white;
}

.ar-headerContainer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.ar-headerLogo a {
    display: flex;
    justify-content: start;
}
.ar-headerLogo a img{
    width: 300px;
}

/* ===input style=== */
.ar-Search {
    display: flex;
    align-items: center;


}

.ar-Search i {
    color: #aba8a8;
}

.ar-search-icon a i {
    margin-left: -30px;
}

.ar-Search input {
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(176, 169, 169);
    font-size: 14px;
    border-radius: 5px;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.125);
    }

    .ar-headerContainer {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 0 2px 0;
    }

    .ar-headerLogo a {
        height: 50px;
    }

    .ar-Search {
        width: 250px;
    }
}

/* === input style end === */

/* === contact style === */
.ar-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.contactPhone {
    display: flex;
    align-items: center;
    gap: 15px;

}

.ar-contactIcon i {
    font-size: 20px;

}

.ar-contact-container p {
    color: #524747;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
}

.ar-contact-container span {
    color: red;
    font-size: 17px;
    font-weight: 500;
}

.ar-cart i {
    font-size: 26px;
    margin-left: 10px;
    color: #463e3e;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    .ar-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0;
    }

    .ar-contactIcon i {
        display: none;
    }

    .ar-contact-container {
        text-align: end;
    }

    .ar-contact-container p {
        font-size: 15px;
        display: none;
    }

    .ar-contact-container span {
        font-size: 15px;
        display: none;
    }

    .ar-cart i {
        font-size: 16px;
    }

    .sh-add-slider-container a img {
        width: 100%;
    }
}

.ar-orderContainer {
    width: 100%;
    background-color: #F5F6F7;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.ar-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 85%;
    line-height: 2em;

}


/*==== ar-orderFrom=== */
.ar-orderFrom {
    background-color: #F5F6F7;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.433);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0.7px rgb(199, 192, 192);
}

@media (max-width:768px) {
    .ar-orderContainer {
        width: 100%;
        background-color: #F5F6F7;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 10px 0 10px 0;
    }

    .ar-container {
        width: 95%;
        display: grid;
        justify-items: center;
    }
}

.ar-orderAddress p {
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}

.name {
    font-size: 18px;
    margin-top: 6px;
}

.name input {
    padding: 6px;
    width: 100%;
    border: 1px solid rgba(113, 106, 106, 0.537);
    border-radius: 3px;
}

.ar-mobailNo {
    font-size: 18px;
    margin-top: 6px;
}

.ar-mobailNo input {
    padding: 6px;
    width: 100%;
    border: 1px solid rgba(113, 106, 106, 0.537);
    border-radius: 3px;
}

.ar-address {
    font-size: 18px;
    margin-top: 6px;
}

.ar-address input {
    padding: 6px;
    width: 100%;
    border: 1px solid rgba(113, 106, 106, 0.537);
    border-radius: 3px;
}

.ar-courier-charges {
    font-size: 18px;
    margin-top: 10px;
}

.ar-checkBox {

    background-color: #CED4DA;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 7px;
    padding: 5px;
    margin-top: 10px;
}

.ar-checkBox span {
    margin-left: 15px;
    font-size: 16px;
}


.ar-orderBtn button {
    background: #FF0018;
    border: none;
    color: aliceblue;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.ar-orderBtn button:hover {
    background: #dc0e23;
    color: #ffff;
    cursor: pointer;
}



/*==== ar-orderFrom end=== */

/* === PRODUCTS BUY CALCULATION === */
.sh-products-buy-calculation-section {
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 1px 1px 8px 0.7px rgb(199, 192, 192);
    padding: 10px;
    border-radius: 5px;
}

/* === TABLE SECTION === */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px 0;
}

th {
    border-bottom: 1px solid gray;
}

.sh-product {
    width: 30%;
    text-align: left;
}

.sh-image-section {
    display: flex;
    align-items: center;
    text-align: left;
}

.sh-image-section img {
    width: 50px;
    margin-right: 5px;
}

.sh-image-section p {
    font-size: 0.875rem;
    line-height: 1.5em;
}

.text-left {
    text-align: left;
}

.del-sec {
    width: 10%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.sh-sub-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sh-less {
    background-color: #0D6EFD;
    padding: 1px 10px;
    color: white;
}

.sh-subs {
    background-color: #0D6EFD;
    padding: 1px 10px;
    color: white;
}

.sh-count {
    padding: 0 20px;
    border: 1px solid gray;
}
.sh-design-for-mobile{
    display: none;
}

/* === MOBILE RESPONSIVE === */
@media(max-width: 768px) {
    .sh-products-buy-calculation-section {
        display: none;
    }
    .sh-design-for-mobile{
        display: block;
        width: 100%;
        padding: 20px;
        background-color: white;
        box-shadow: -3px -3px 5px rgb(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    .shm-prodct{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .shm-image{
        display: flex;
        align-items: center;
    }
    .shm-image img{
        width: 50px;
    }
    .sm-product-txt p{
        width: 180px;
        font-size: 1rem;
        line-height: 1.5em;
    }
}
/* === footer === */

.footer {
    width: 85%;
}

.footer-container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-bottom: 5px;
}
.footer-logo img {
 width: 200px;
}

.footer-bg {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-items: center;
    background-color: rgb(214, 214, 214);
}
/* === MOBILE RESPONSIVE === */
/* === FOOTER === */
@media (max-width: 768px) {
    .footer {
        display: grid;
        width: 430px;
        padding-left: 20px;
    }

    .footer-container {
        display: grid;
    }

    .footer-section p,
    .footer-section a {
        font-size: 14px;
        line-height: 20px;
        color: black;
    }

    .footer-section h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.sm-email-section {
    display: flex;
    margin-top: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sm-email-section input {
    background-color: white;
    width: 318px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-email-section button {
    width: 100px;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .footer-bottom {
    display: none;
    }

}

@media(max-width: 768px) {
    .sm-hide-for-mobile {
        display: none;
    }
}

@media(max-width: 768px) {
    .footer-bg {
        height: 100%;
        padding-top: 50px;
        margin-top: 60px;
    }
}